body{
    text-align: center;
    font-family: "Inter var","Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    vertical-align: middle;
    padding: 90px;
}

input[type=text], select {
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
    background-color: black;
    border: none;
    color: white;
    font-family: "Inter var","Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
   }
   button{
     align-self: center;
     background-position: 0 90%;
     background-repeat: repeat no-repeat;
     background-size: 4px 3px;
     border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
     border-style: solid;
     border-width: 2px;
     box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
     box-sizing: border-box;
     display: inline-block;
     font-family: Neucha, sans-serif;
     font-size: 1rem;
     line-height: 23px;
     outline: none;
     padding: .75rem;
     text-decoration: none;
     transition: all 235ms ease-in-out;
     border-bottom-left-radius: 15px 255px;
     border-bottom-right-radius: 225px 15px;
     border-top-left-radius: 255px 15px;
     border-top-right-radius: 15px 225px;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
   }
   
   button :hover {
     box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
     transform: translate3d(0, 2px, 0);
   }
   
   button:focus {
     box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
   }
